@model FileCms.Models.PageBaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Layout.Title</title>
    
    @if (Model.Layout.SiteConfig.Styles != null)
    {
        foreach (var style in Model.Layout.SiteConfig.Styles)
        {
            <link href="@style.Path" type="text/css" rel="stylesheet">
        }
    }

    @if (Model.Layout.CustomCss != null)
    {
        foreach (var style in Model.Layout.CustomCss)
        {
            <link href="@style.Path" type="@style.Type" rel="stylesheet">
        }
    }

</head>
<body>
    <section id="menu">
        <div class="container">
            <div class="row">
                <i id="menu-close" class="fa fa-times fa-2x"></i>
            </div>

            @if (Model.Layout.MenuItems != null && Model.Layout.MenuItems.Any())
            {
                foreach (var menuItem in Model.Layout.MenuItems)
                {

                    if (menuItem.Active)
                    {
                        <a href="@menuItem.Url" class="active">@menuItem.Text</a>
                    }
                    else
                    {
                        <a href="@menuItem.Url">@menuItem.Text</a>
                    }
                }

            }
        </div>
    </section>

    <div id="menu-holder">
        <a href="/"><i id="home-icon" class="fa fa-home fa-2x"></i></a>
        <i id="menu-open" class="fa fa-bars fa-2x"></i>
    </div>

    <div id="main-content" class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    @if (Model.Layout.SiteConfig.Scripts != null)
    {
        foreach (var script in Model.Layout.SiteConfig.Scripts)
        {
            <script type="text/javascript" src="@script.Path"></script>
        }
    }

    @if (Model.Layout.CustomScripts != null)
    {
        foreach (var script in Model.Layout.CustomScripts)
        {
            <script type="@script.Type" src="@script.Path"></script>
        }
    }

    @if (Model.Layout.SiteConfig.Disqus != null && !string.IsNullOrEmpty(Model.Layout.SiteConfig.Disqus.Account))
    {
        <script type="text/javascript">
            var disqus_shortname = '@Model.Layout.SiteConfig.Disqus.Account';
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    }

    @if (Model.Layout.SiteConfig.Analytics != null && Model.Layout.SiteConfig.Analytics.Enable)
    {
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '@Model.Layout.SiteConfig.Analytics.Account']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
    }

</body>

</html>
