@model FileCms.Models.PageBaseModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Layout.Title</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/css")

    @if (Model.Layout.CustomCss != null)
    {
        foreach (var style in Model.Layout.CustomCss)
        {
            <link href="@style.Path" type="@style.Type" rel="stylesheet">
        }
    }

</head>
<body>
    <section id="menu">
        <div class="container">
            <div class="row">
                <i id="menu-close" class="fa fa-times fa-2x"></i>
            </div>

            @if (Model.Layout.MenuItems != null && Model.Layout.MenuItems.Any())
            {
                foreach (var menuItem in Model.Layout.MenuItems)
                {

                    if (menuItem.Active)
                    {
                        <a href="@menuItem.Url" class="active">@menuItem.Text</a>
                    }
                    else
                    {
                        <a href="@menuItem.Url">@menuItem.Text</a>
                    }
                }

            }
        </div>
    </section>

    <div id="menu-holder">
        <i id="menu-open" class="fa fa-bars fa-2x"></i>
    </div>

    <header>


        @if (Model.Layout.HeaderImage != null)
        {
            <div id="header-background">
                <img src="@Model.Layout.HeaderImage" />
            </div>
        }

        <p class="headline"><a href="/">@Model.Layout.SiteConfig.Definition.Name</a></p>
        <h3>@Model.Layout.SiteConfig.Definition.Description</h3>
        <a class="btn btn-primary" href="http://www.twitter.com/mrnorell/" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a class="btn btn-primary" href="http://www.instagram.com/mrnorell/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        <a class="btn btn-primary" href="http://www.github.com/mattiasnorell/" target="_blank"><i class="fa fa-github fa-2x"></i></a>

    </header>

    <div id="main-content" class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    @if (Model.Layout.CustomScripts != null)
    {
        foreach (var script in Model.Layout.CustomScripts)
        {
            <script type="@script.Type" src="@script.Path"></script>
        }
    }

    @if (Model.Layout.SiteConfig.Disqus != null && !string.IsNullOrEmpty(Model.Layout.SiteConfig.Disqus.Account))
    {
        <script type="text/javascript">
            var disqus_shortname = '@Model.Layout.SiteConfig.Disqus.Account';
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    }

    @if (Model.Layout.SiteConfig.Analytics != null && Model.Layout.SiteConfig.Analytics.Enable)
    {
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '@Model.Layout.SiteConfig.Analytics.Account']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

        </script>
    }

    @Scripts.Render("~/Content/js")
</body>
</html>
